.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#signature {
  position: fixed;
  right: -4em;
  bottom: 5.5em;
  transform:rotate(-90deg);
}
small {
  font-size: .75em !important;
}

@media only screen and (orientation: landscape) {
  #signature {
    transform: none;
    left: 0;
    bottom: -.5em;
  }
}