@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --orange: rgb(242, 169, 0);
  --border-rad: .5em;
  --error: rgb(242, 97, 0);

  --shadowDefault: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  margin: 0;
  /* font-family:  */
  font-family: 'Architects Daughter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
margin-bottom: 0;
}
div#root {
  max-height:100vh;
  max-width: 100vw;
  font-size: 12px;
  /* font-family: 'Architects Daughter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.shadow {
  border-radius: var(--border-rad);
}

.border {
  border-radius: var(--border-rad);
}

hr {
  color: var(--error);
}

.border-orange {
  border-radius: var(--border-rad);
  border: solid var(--orange) 1px 
}

.btn-outline-warning {
  border-color: var(--orange) !important;
}

.btn-outline-warning:hover {
  background-color: var(--orange);
}

button:hover, svg:hover {
  box-shadow: var(--shadowDefault);
  transform: scale(1.05);
}

button>svg:hover {
  box-shadow: none;
  transform: none;
}

svg {
  border-radius: .25em;
}
svg:hover {
  transform: scale(1.05);
}

.react-icons {
  font-size: 2.5em;
  border-radius: .25em;
}

.error {
  color: var(--error);
}